---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kafka-operator
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kafka-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: kafka-operator
    namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-operator
  namespace: default
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/name: kafka-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/component: operator
        app.kubernetes.io/name: kafka-operator
    spec:
      containers:
        - args:
            - --enable-leader-election
            - --cert-manager-namespace=cert-manager
            - --cert-manager-enabled=false
            - --disable-webhooks
          command:
            - /manager
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
          image: ghcr.io/adobe/koperator:0.28.0-adobe-20251203
          livenessProbe:
            httpGet:
              path: /healthz
              port: health-probes
          name: manager
          ports:
            - containerPort: 8080
              name: metrics
              protocol: TCP
            - containerPort: 8081
              name: health-probes
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: health-probes
          resources:
            limits:
              cpu: 200m
              memory: 256Mi
            requests:
              cpu: 200m
              memory: 256Mi
      nodeSelector:
        operator: ""
      serviceAccountName: kafka-operator
